<h1>Listing clicks</h1>

<table>
  <tr>
    <th>Duration</th>
    <th>Type</th>
  </tr>

<% @clicks.each do |clicks| %>
  <tr>
    <td><%=h clicks.duration %></td>
    <td><%=h clicks.type_id %></td>
    <td><%= link_to 'Show', clicks %></td>
    <td><%= link_to 'Edit', edit_click_path(clicks) %></td>
    <td><%= link_to 'Destroy', clicks, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New clicks', new_click_path %>

<br>

<% content_for :head_include do -%>
  <script type='text/javascript' src='http://www.google.com/jsapi'></script>
  <script type='text/javascript'>
    google.load('visualization', '1', {'packages':['annotatedtimeline'], 'language':'zh_CN', 'displayZoomButtons':'true'});
    google.setOnLoadCallback(drawChart);

    var chart = 0;
    var data = 0;
    var previousRange = 0;

    function drawChart() {
      $.get("/clicks/get_range", { end_date : new Date(2009,12,1), start_date : new Date(2009,1,1) },
        function(data){
          eval(data);
          data = new google.visualization.DataTable(JSONObject);
          chart = new google.visualization.AnnotatedTimeLine($('#chart_div')[0]);
          chart.draw(data, {displayAnnotations: true});
          //bind events
          google.visualization.events.addListener(chart, 'rangechange', rangechanged);
        }
      );
    }

    function rangechanged(event) {
      $.get("/clicks/get_range", { end_date : event.end, start_date : event.start },
        function(data){
          eval(data);
          data = new google.visualization.DataTable(JSONObject);
          chart.draw(data, {displayAnnotations: true});
          chart.setVisibleChartRange(event.start, event.end);
        }
      );
    }
  </script>
<% end -%>
<div id='chart_div' style='width: 700px; height: 240px;'></div>